.sider {
  height: 100vh;
  background: white;
  border-right: 1px solid #f0f0f0;

  .header {
    height: 100px;
    font-size: 20px;
    background: white;
    margin-bottom: 10px;

    .title {
      text-align: center;
    }
  }

  .content {
    overflow: auto;
  }
}
